:root {
    --violet: #3d2a4d;
    --blue-green: #379683;
    --green: #5cdb95;
    --light-green: #8ee4af;
    --light-cream: #edf5e1;
  }

body {
    font-family: Helvetica, Arial, sans-serif;
}

h3 {
    margin: 25px;
    margin-bottom: 5px;
    
}

section {
    
    display: grid;
    grid-auto-flow: column;
    
}

header {
    box-shadow: gray 0 0 10px;
    padding: 1px;
    text-align: center;
    font-size: xx-large;
    color: var(--violet);
    text-transform: uppercase;
    background:var(--green);
    border-radius: 6px;
    margin: 5px;
}

div {
    box-shadow: gray 0 0 10px;
    display:inline-block;
    vertical-align: top;
    /* border: 3px solid var(--violet) ; */
    background-color: var(--green);
    color: var(--violet);
    text-align:center;
    font-size:xx-large;
    margin: 10px;
    border-radius: 6px;
}

div ul {
    list-style-type: none;
    display: grid;
    grid-auto-flow: row;
    padding-left: 0px;
    margin: 0px;
    padding: 10px;
}

div ul li button {
    width:calc(100% - 10px);
    height: 60px;
    margin: 10px;
    background-color: var(--blue-green);
    border-style: solid;
    border-radius: 10px;
}

ul li button a {
    font-size: large;
    display: block;
}

div ul li a button {
    width:calc(100% - 10px);
    height: 60px;
    margin: 10px;
    background-color: var(--blue-green);
    border-style: solid;
    border-radius: 10px;
    font-size: large;
}

a button:hover {
    cursor: pointer;
}